<table>
  <%@usermapping.each_index do |map_id|%>  
  <tr>
	<td>Resource_ID: <%= @usermapping[map_id][0]%> Original Name: <%= @usermapping[map_id][1]%></td> 
	<td>Map to: <%= @usermapping[map_id][2]%></td>
	<td><%= select_tag @usermapping[map_id][2], options_from_collection_for_select(User.all.sort_by{ |u| [u.name]}, "id", "name", (@usermapping[map_id][2] == "not found" ? "not found" : @usermapping[map_id][2].id)), include_blank: true%></tp>
  </tr>
  <%end%>
</table>